@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

html {
    scrollbar-width: none;
}

h1 {
    @apply font-extrabold text-4xl text-center tracking-widest;
    @apply pt-6 lg:pt-8 pb-2 mb-4;
    @apply border-b border-border-light dark:border-border-dark;
}

h2 {
    @apply font-bold text-3xl pb-2 pt-4;
}

h3 {
    @apply font-bold text-2xl py-2;
}

h4 {
    @apply font-semibold text-xl py-2;
}

h5 {
    @apply font-semibold text-lg py-2;
}

h6 {
    @apply font-semibold text-base py-2;
}

p {
    @apply pb-4;
}

:not(pre) > code {
    @apply bg-black/5 dark:bg-code;
    @apply text-textContent-light dark:text-textContent-dark;
    @apply border border-border-light dark:border-border-dark rounded-md lg:rounded-xl;
    @apply px-1 mx-1;
    word-break: break-all;
}

/* PRE TO CODE BLOCK */
.code-frame {
    @apply max-h-screen h-96 max-w-5xl mx-auto;
    @apply overflow-auto;
    @apply shadow-sm dark:shadow-none;
    @apply border-2 border-border-light dark:border-border-dark;
    @apply rounded-md lg:rounded-xl;
    @apply bg-bg0-light dark:bg-code text-textContent-light dark:text-textContent-dark;
}
.code-view {
    @apply pb-2;
    @apply text-sm font-mono;
    @apply grid gap-0;
    grid-template-columns: auto 1fr;
}
.code-numbders {
    @apply select-none text-right;
    @apply border-r border-textSecondary-dark text-textSecondary-dark;
    @apply flex flex-col items-stretch;
}
.code-numbers-num {
    @apply pl-2 pr-2;
}
.code-numbers-num.code-line-highlight {
    @apply w-full bg-black/5 dark:bg-bg1-dark text-textPrimary-light dark:text-textPrimary-dark font-semibold;
}
.code-content {
    @apply overflow-x-auto overflow-y-hidden;
    @apply flex flex-col items-stretch;
}
.code-content-pre {
    @apply min-w-full w-fit;
}
.code-content-code {
    @apply w-full;
}
.code-content-line {
    @apply pl-2;
}
.code-content-line.code-line-highlight {
    @apply bg-black/5 dark:bg-bg1-dark text-textPrimary-light dark:text-textPrimary-dark font-semibold;
}

/* IMG IN DARKMODE */
img {
    @apply border rounded-md lg:rounded-xl border-border-light dark:border-border-dark;
    @apply shadow-md dark:shadow-none max-w-3xl mx-auto my-4 w-full lg:w-auto;
    @apply brightness-100;
    /* @apply dark:brightness-75; */
    /* @apply rounded-md lg:rounded-xl; */
}
img.dark-img-dim {
    @apply brightness-100 dark:brightness-75;
}
/* .img-wrapper {
    @apply mix-blend-multiply bg-border-light;
    @apply border rounded-md lg:rounded-xl border-border-light dark:border-border-dark;
    @apply shadow-md dark:shadow-none max-w-3xl mx-auto my-4 w-fit lg:w-auto;
    @apply cursor-none pointer-events-none;
} */

/* img::after {
    @apply bg-transparent dark:bg-black/60;
} */

hr {
    @apply my-4;
}

.color-nav-btn {
    @apply text-textSecondary-light hover:text-textPrimary-light dark:text-textSecondary-dark dark:hover:text-textPrimary-dark;
}

.content-body {
    @apply max-w-5xl mx-auto px-8 leading-loose tracking-wide;
}

.highlight-color {
    @apply text-red-500 sm:text-orange-500 md:text-yellow-500 lg:text-green-600 xl:text-blue-600 2xl:text-purple-600 dark:text-red-300 dark:sm:text-orange-300 dark:md:text-yellow-200 dark:lg:text-green-300 dark:xl:text-blue-300 dark:2xl:text-purple-300;
}

.theme-btn {
    @apply rounded-full text-textSecondary-light hover:text-textPrimary-light dark:text-textSecondary-dark dark:hover:text-textPrimary-dark p-2 text-sm flex flex-row justify-center items-center gap-2 md:block md:gap-0 basis-1/3 font-sans;
}

.theme-btn.active {
    @apply text-textPrimary-light dark:text-textPrimary-dark bg-border-light dark:bg-border-dark cursor-default;
}

.color-floating.color-solid {
    @apply bg-bg0-light dark:bg-bg0-dark;
}

.color-floating.color-transparent {
    @apply bg-bg0-light/75 dark:bg-bg0-dark/75 backdrop-blur-md;
}

@layer components {
    .color-border {
        @apply border-border-light dark:border-border-dark;
    }

    .color-layer-0 {
        @apply bg-bg0-light dark:bg-bg0-dark;
    }

    .color-layer-1 {
        @apply bg-bg0-light shadow-md dark:bg-bg1-dark dark:shadow-none;
    }

    /* .color-layer-2 {
        @apply bg-bg0-light shadow-md dark:bg-bg2-dark dark:shadow-none;
    } */

    .color-text-primary {
        @apply text-textPrimary-light dark:text-textPrimary-dark;
    }

    .color-text-secondary {
        @apply text-textSecondary-light dark:text-textSecondary-dark;
    }

    .color-text-content {
        @apply text-textContent-light dark:text-textContent-dark;
    }
}
