@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}
html {
    scrollbar-width: none;
    /* scrollbar-gutter: stable; */
}

h1 {
    @apply font-extrabold text-4xl text-center tracking-widest;
    @apply pt-6 lg:pt-8 pb-2 mb-4;
    @apply border-b border-border-light dark:border-border-dark;
}

h2 {
    @apply font-bold text-3xl py-2
}

h3 {
    @apply font-bold text-2xl py-2
}

h4 {
    @apply font-semibold text-xl py-2
}

h5 {
    @apply font-semibold text-lg py-2
}

h6 {
    @apply font-semibold text-base py-2
}


p {
    @apply pb-4
}

/* :not(pre) > code {
    @apply bg-code shadow-sm dark:shadow-none text-textContent-dark;
    @apply border border-border-light dark:border-border-dark rounded-md;
    @apply px-2 mx-2;
    word-break: break-all;
}
pre {
    @apply bg-code shadow-sm dark:shadow-none text-textContent-dark;
    @apply border border-border-light dark:border-border-dark rounded-md;
    @apply px-2 mx-2;
    word-break: break-all;
} */

/* todo */
img {
    @apply border rounded-md border-border-light dark:border-border-dark;
    @apply shadow-md dark:shadow-none max-w-3xl mx-auto my-4 w-full lg:w-auto;
}

hr {
    @apply my-8
}

.color-nav-btn {
    @apply text-textSecondary-light hover:text-textPrimary-light dark:text-textSecondary-dark dark:hover:text-textPrimary-dark
}
.content-body {
    @apply max-w-6xl mx-auto px-8 leading-loose tracking-wide
}
.highlight-color {
    @apply text-red-500 sm:text-orange-500 md:text-yellow-500 lg:text-green-600 xl:text-blue-600 2xl:text-purple-600 dark:text-red-300 dark:sm:text-orange-300 dark:md:text-yellow-200 dark:lg:text-green-300 dark:xl:text-blue-300 dark:2xl:text-purple-300
}
.theme-btn {
    @apply rounded-full text-textSecondary-light hover:text-textPrimary-light dark:text-textSecondary-dark dark:hover:text-textPrimary-dark p-2 text-sm flex flex-row justify-center items-center gap-2 md:block md:gap-0 basis-1/3 font-sans
}
.theme-btn.active {
    @apply text-textPrimary-light dark:text-textPrimary-dark bg-border-light dark:bg-border-dark cursor-default
}
.color-floating.color-solid {
    @apply bg-bg0-light dark:bg-bg0-dark
}
.color-floating.color-transparent {
    @apply bg-bg0-light/75 dark:bg-bg0-dark/80 backdrop-blur-md
}
@layer components{
    .color-border {
        @apply border-border-light dark:border-border-dark
    }

    .color-layer-0 {
        @apply bg-bg0-light dark:bg-bg0-dark
    }

    .color-layer-1 {
        @apply bg-bg0-light shadow-md dark:bg-bg1-dark dark:shadow-none
    }

    .color-layer-2{
        @apply bg-bg0-light shadow-md dark:bg-bg2-dark dark:shadow-none
    }

    .color-text-primary {
        @apply text-textPrimary-light dark:text-textPrimary-dark
    }

    .color-text-secondary {
        @apply text-textSecondary-light dark:text-textSecondary-dark
    }

    .color-text-content{
        @apply text-textContent-light dark:text-textContent-dark
    }
}